<h2><%= t('views.passwords.change_your_password') %></h2>

<div class="row">
  <div class="col-md-6">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field buffer-top">
        <%= f.label :password, t('views.passwords.new_password') %>
        <% if @minimum_password_length %>
          <em><%= "(#{@minimum_password_length} #{t('views.passwords.minimal_length', count: @minimum_password_length)})" %></em>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field buffer-top">
        <%= f.label :password_confirmation, t('views.passwords.new_password_confirm') %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit t('views.passwords.accept_to_change_password'), class: 'btn btn-primary buffer-top' %>
      </div>
    <% end %>
  </div>
</div>

<div class="buffer-top">
  <%= render partial: "devise/shared/links" %>
</div>
