<div class="event">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag 'div', '',
                      class: 'event-background rounded-lg',
                      style: "background-image: url(#{event_photo(@event)})"
      %>

      <div class="event-info-inner row">
        <div class="col-md-5">
          <div class="event-description">
            <h1><%= sanitize_text @event.title %></h1>
            <h3><%= l(@event.datetime, format: :short) %></h3>
            <h3>
              <small><%= link_to sanitize_text(@event.address), "https://yandex.ru/maps/?text=#{sanitize_text(@event.address)}" %></small>
            </h3>
            <p><%= sanitize_text @event.description %></p>
          </div>

            <% if policy(@event).update? %>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <%= link_to t('edit'), edit_event_path(@event), class: 'btn btn-primary'-%>
                </li>

                <li class="list-inline-item">
                  <%= button_to t('delete'), event_path(@event), method: :delete,
                  data: { turbo_confirm: t('views.events.delete_confirm') }, class: 'btn btn-primary buffer-sm-top' %>
                </li>
              </ul>
            <% end %>
        </div>

        <div class="col-md-7">
          <div id="map"
            data-address= "<%= sanitize_text @event.address %>"
            style="width: 100%; height: 400px; padding: 10px">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="event-photos">

        <% if @event.photos.except(@new_photo).any? %>
          <h2><%= t('views.events.gallery') %></h2>
          <div class="event-gallery">
            <div class="event-photos-gallery">
              <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
            </div>
          </div>
        <% end %>

        <% if current_user.present? %>
          <div class="event-photo-form">
            <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>
          </div>
        <% end %>

        <div class="event-comments buffer-top">
          <%= render partial: 'comments/form', locals: {comment: @new_comment || @event.comments.build } %>

          <div class="buffer-both">
            <%= render partial: 'comments/comment', collection: @event.comments.except(@new_comment)%>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="event-owner">
        <h4><%= t('views.events.owner_invites') %>:</h4>
        <p><%= render partial: 'users/user', object: @event.user %></p>
      </div>

      <%= turbo_frame_tag 'subscriptions' do %>
        <div class="event-subscriptions">
          <h4><%= t('views.events.subscribers_attending') %>:</h4>
          <div>
            <p>
            <%= render partial: 'subscriptions/subscription',
                      collection: @subscriptions %>
            </p>
          </div>
        </div>

        <% unless @event.user == current_user %>
          <div class="event-subscription-form">
            <h4><%= t('views.events.i_am_attending') %>:</h4>
            <div>
              <%= render partial: 'subscriptions/form',
                locals: { subscription: @new_subscription || @event.subscriptions.build } %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
